body, html {
    height: 100%
}

.angular-view {
    height: 100%
}

.main-wrapper {
    margin-top: 2em;
}

.header-image {
    background-color: black;
    height: 70%;
    width: 100%;
    margin-bottom: 1em;
}

.article-container {
  margin-top: 1.5em;
}

.article-container > h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
  color: rgb(108, 122, 137);
}

.article-abstract {
  margin-bottom: 2em;
}
