<div class="header-image"></div>
<div class="container main-wrapper">

    <div class="row">
        <h1>Contact</h1>
    </div>
    <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa distinctio eum expedita hic in inventore
        maiores qui similique vero. Adipisci architecto ipsam optio praesentium tenetur? Ab animi necessitatibus
        reprehenderit?
    </div>

    <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa distinctio eum expedita hic in inventore
        maiores qui similique vero. Adipisci architecto ipsam optio praesentium tenetur? Ab animi necessitatibus
        reprehenderit?
    </div>

    <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa distinctio eum expedita hic in inventore
        maiores qui similique vero. Adipisci architecto ipsam optio praesentium tenetur? Ab animi necessitatibus
        reprehenderit?
    </div>
</div>